<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{course.course_name}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-JuAGGg3c8UPrWdf0N8ZPJyOHkACruI9+mbl0C+H6XSYOqv9xIdiUSKehRyA8jUol" crossorigin="anonymous">

<body>
{% include 'navbar.html' %}
    <h1>Welcome, {{user.username}}</h1>
    <div>
        <h3>{{course.course_name}}</h3>
            <p>College: {{course.college.name}}</p>
            <p>Department: {{course.department.name}}</p>
            <p>Course Number: {{course.course_number}}</p>
            <p>Credits: {{course.credits}}</p>
            <p>Prerequisites: 
                {% for x in prereqs %}
                {{x.course_name}}
                {% endfor %}
                <p>Course Description:{{course.course_description}}</p>
            <p>Course-Outcomes: {{course.course_outcomes}}
            <p>Course URL: {{course_url}}</p>
            <p>Equivalent Courses: </p>
            {% for h in equivalencies %}
            <p>{{h.course_name}}</p>
            {% endfor %}
            {% if user.accesslevel >= 7 %}
            <a href="/courses/{{course.id}}/edit/" class="badge badge-secondary">Edit Course</a> | <a href="/courses/{{course.id}}/delete/" class="badge badge-secondary">Delete Course</a> | <a href="/courses/{{course.id}}/treq" class="badge badge-secondary">Set Transfer EQs</a>
            {% endif %}

    </div>
</body>
</html>