<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{course.course_name}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-JuAGGg3c8UPrWdf0N8ZPJyOHkACruI9+mbl0C+H6XSYOqv9xIdiUSKehRyA8jUol" crossorigin="anonymous">

<body>
{% include 'navbar.html' %}
    <h1>Welcome, {{user.username}}</h1>
    <div class='row'>
    <div class='col-9'>
    <div class='card mb-6'>
        <h3 class='card-header'>{{course.course_name}}</h3>
        {% if permission.level >= 7 %}
        <p class='card-header'><a href="{% url 'courses:editcourse' course.id %}" class="badge badge-secondary">Edit Course</a> | <a href="{% url 'courses:deletecheck' course.id %}" class="badge badge-secondary">Delete Course</a> | <a href="{% url 'courses:viewtreq' course.id %}" class="badge badge-secondary">Set Transfer EQs</a></p>
        {% endif %}
            <div class='card-body'><p>College: {{course.college.name}}</p>
            <p>Department: {{course.department.name}}</p>
            <p>Number: {{course.course_number}}</p>
            <p>Credits: {{course.credits}}</p>
            <p class='card-text'>URL: <a href='{{course_url}}'>{{course_url}}</a></p>
            </div>
            <div class='card-body'>
            <h5 class='card-header bg-light'>Prerequisites:</h5>
            <ul class="list-group list-group-flush">
                {% for x in prereqs %}
                <li class='list-group-item'><a href="{% url 'courses:viewcourse' x.id %}">{{x.course_name}}, {{x.course_number}}</a></li>
                {% endfor %}
            </ul>
                </div>
            <div class='card-body'>
                <p class='card-text'>Description: {{course.course_description}}</p>
            </div>
            <div class='card-body'>
            <p class='card-text'>Outcomes: {{course.course_outcomes}}
            </div>
            <!-- <h5 class='card-header bg-light'>Equivalent Courses:</h5>
            <ul class='list-group-flush'>
            {% for h in equivalencies %}
            <li class='list-group-item'><a href='/courses/{{x.id}}'>{{h.course_name}}, {{h.course_number}}</a></li>
            {% endfor %}
            </ul> -->
</div>
</div>
    </div>
</body>
</html>