<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CUTCO Edit Course</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-JuAGGg3c8UPrWdf0N8ZPJyOHkACruI9+mbl0C+H6XSYOqv9xIdiUSKehRyA8jUol" crossorigin="anonymous"></head>
<body>
{% include 'navbar.html' %}
    <h1>Welcome, {{user.username}}</h1>
    <div class='row'>
    <div class='col-9'>
    <div class='card mb-6'>
        <h3 class='card-header'>Edit Course</h3>
        <form class='card-body' action="/courses/{{course.id}}/update/", method="POST">
            {% csrf_token %}
            <p>College: {{course.college.name}}</p>
            <p>Department: {{course.department.name}}</p>
            {{errors.course_name}}
            <p>Course Name: <input type='text' name="course_name" value="{{course.course_name}}"></p>
            {{errors.course_number}}
            <p>Course Number: <input type='text' name="course_number" value='{{course.course_number}}'></p>
            {{errors.credits}}    
            <p># of Credits: <input size='10' type="text" name="credits" value="{{course.credits}}"> </p>
            <p>Prerequisites:</p> 
                <select class='form-control' size='10' style='width:40%;' name="prereqs" multiple>
                    {% for i in prereqsselected %}
                    <option value="{{i.id}}" selected>{{i.course_number}}- {{i.course_name}}</option>
                    {% endfor %}
                    {% for i in prereqsother %}
                    <option value="{{i.id}}">{{i.course_number}}- {{i.course_name}}</option>
                    {% endfor %}
                </select> 
            {{errors.course_description}}
                <p>Course Description:</p>
                <textarea name="course_description" cols='60' rows='5'>{{course.course_description}}</textarea>
            {{errors.course_outcomes}}
            <p>Course-Outcomes: </p><textarea rows='10' cols='60' name="course_outcomes">{{course.course_outcomes}}</textarea>
            <p>Course URL: <input size='43' type='text' name="course_url" value="{{course_url}}"></p>
            <p><input type="submit" name="Update" value="Update"></p>
        </form>
    </div>
    </div>
    </div>
</body>
</html>