<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CUTCO Transfer Courses</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-JuAGGg3c8UPrWdf0N8ZPJyOHkACruI9+mbl0C+H6XSYOqv9xIdiUSKehRyA8jUol" crossorigin="anonymous"></head>
<style>
table, th, td{
    border:1pt solid black;
    padding: 5px;
}
</style>

<body>
{% include 'navbar.html' %}
<h1>Welcome, {{user.username}}</h1>
<h1>Courses that will transfer:</h1>
<div class='body'>
    <form action="/courses/treqtablegenerate/" method="POST">
        {% csrf_token %}
        <p>Your School: <select name='yourcollegeid'>
                {% for i in colleges %}
                    <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
                    </select>
        </p>
        <p>School You're Interested In: <select name='othercollegeid'>
                {% for i in colleges %}
                    <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
                    </select>
        </p>
        <p><input type="submit" name="Update" value="See needed classes"></p>
    </form>
    <table>
        <tr class='table-primary'>
            <th>{{yourcollege.name}} Courses</th>
            <th>Course Number</th>
            <th>{{othercollege.name}} Courses</th>
            <th>Course Number</th>
        </tr>
        {% regroup yourcollegecourses by course_name as coursebook %}
        {% for h in coursebook %}
        <tr>
            <td><a href='/courses/{{h.list.0.id}}/'>{{h.list.0.course_name}}</a></td>
            <td><a href='/courses/{{h.list.0.id}}/'>{{h.list.0.course_number}}</a></td>
            <td>{% if h.list.0.equivalencies__id %}
                {% for k in h.list %}
                <a href='/courses/{{k.equivalencies__id}}/'>{{k.equivalencies__course_name}}</a><br>{% endfor %}
                {% endif %}
            </td>
            <td>{% if h.list.0.equivalencies__id %}
                {% for k in h.list %}
                <a href='/courses/{{k.equivalencies__id}}/'>{{k.equivalencies__course_number}}</a><br>{% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>